.about__t{
  margin-top: 30px;
  font-family: 'Rock Salt', cursive;
  font-size: 60px;
  text-align: center;
  color: white;
}
.about__a1{
  display: flex;
  margin-top: 50px;
  margin-left: 40px;
  font-weight: bolder;
  color: white;
}
.about__ul{
  display: inline-block;
  width: 280px;
}

.Accommodation__button {
  background: none;
  border: none;
  padding: 0!important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  //text-decoration: underline;
  cursor: pointer;
}

.about__li{
  list-style: none;
  margin-left: 50px;
  padding-top: 10px;
  font-family: 'Audio Wide', cursive;
  font-size: 22px;
}
.about__li button{
  display: block;
  text-decoration: none;
  color: white;
  font-weight: bolder;
}
.about__li button.active{
  //display: inline-block;
  color: #0ff;
  background-image: linear-gradient(to right,#0ff,#305959);
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 100% 5px;
}

.about__a2{
  padding-top: 20px;
  display: inline-block;
  width: 100%;
  font-family: 'Audio Wide', cursive;
  font-size: 20px;
  text-align: justify;
  margin-left: 50px;
  margin-right: 50px;
}

.about__content{
  display: flex;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .about__t{
    margin-top: 50px;
    font-family: 'Rock Salt', cursive;
    font-size: 33px;
    text-align: center;
    color: white;
  }
  .about__a1{
    margin: 12px;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    -webkit-flex-wrap: wrap;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .about__ul{
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    -webkit-flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  .about__li{
    font-size: 20px;
    width: 150px;
    display: inline-block;
    margin: 0 5px 0 5px;
  }
  .about__content{
    font-size: 20px;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
  }
  .about__a2{
    margin: 25px 15px 0 15px;
    text-align: justify;
    font-family: 'Audio Wide', cursive;
    font-size: 19px;
  }

}