@import url(https://fonts.googleapis.com/css?family=Open+Sans:800);

.text-box {
  width: 100%;
  height: 64px;
  fill: none;
  stroke-width: 2;
  stroke-linejoin: round;
  stroke-dasharray: 70;
  stroke-dashoffset: 0;
  -webkit-animation: stroke 6s infinite linear;
  animation: stroke 6s infinite linear;
}

.text-box__text {
  fill: none;
  stroke-width: 2;
  stroke-linejoin: round;
  stroke-dasharray: 70;
  stroke-dashoffset: 0;
  -webkit-animation: stroke 6s infinite linear;
  animation: stroke 6s infinite linear;
}

.text-box__text:nth-child(5n + 1) {
  stroke: #8D8741;
  -webkit-animation-delay: -1.2s;
  animation-delay: -1.2s;
}

.text-box__text:nth-child(5n + 2) {
  stroke: #659DBD;
  -webkit-animation-delay: -2.4s;
  animation-delay: -2.4s;
}

.text-box__text:nth-child(5n + 3) {
  stroke: #DAAD86;
  -webkit-animation-delay: -3.6s;
  animation-delay: -3.6s;
}

.text-box__text:nth-child(5n + 4) {
  stroke: #BC986A;
  -webkit-animation-delay: -4.8s;
  animation-delay: -4.8s;
}

.text-box__text:nth-child(5n + 5) {
  stroke: #FBEEC1;
  -webkit-animation-delay: -6s;
  animation-delay: -6s;
}

@-webkit-keyframes stroke {
  100% {
    stroke-dashoffset: -400;
  }
}

@keyframes stroke {
  100% {
    stroke-dashoffset: -400;
  }
}

@media only screen and (max-width: 550px) {
  .text-box {
    font: 28px Open Sans, Impact;
    height: 48px;
  }
}

svg {
  font: 48px Open Sans, Impact;
  text-transform: uppercase;
  margin: 0;
}