html,
body {
  height: 100%;
  margin: 0;
}

.display1 {
  font-family: ZCOOL KuaiLe, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: 4px 4px 4px #aaa;
  font-size: 60px;
  color: #ff0066;
}

.card-header {
  padding: 0;
  background: transparent;
  margin-top: 5px;
}

.item {
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: #eee;
}
