.responsive-header {
  background: #5f6d7e;
  text-align: center;
  width: 20%;
}

.category-link a{
  outline: none;
  border: 0;
  text-decoration: none;
}
#scrollDown {
  display: button;
  z-index: 3;
  position: absolute;
  top: 70%;
  left: 50%;
}

@media screen and (max-width: 992px) {
  .responsive-header .main-navigation {
    margin-top: 10px;
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .responsive-header p {
    color: white;
  }
}

@media screen and (max-width: 992px) {
  .responsive-header .profile-image {
    float: left;
    width: 100px;
    height: 100px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    overflow: hidden;
    margin-right: 30px;
  }
  .responsive-header .profile-content {
    text-align: left;
    margin-top: 30px;
    overflow: hidden;
  }
}

@media screen and (max-width: 992px) {
  .top-section {
    padding-bottom: 0;
  }
}

.top-section {
  padding: 40px;
  display: grid;
  justify-content: center;
}

.profile-image {
  width: 150px;
  height: 150px;
  border: 4px solid white;
  -webkit-border-radius: 75px;
  border-radius: 75px;
  overflow: hidden;
  margin-bottom: 20px;

}

.profile-image img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 992px) {
  .responsive-header .profile-image {
    float: left;
    width: 100px;
    height: 100px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    overflow: hidden;
    margin-right: 30px;
  }
  .responsive-header .profile-content {
    text-align: left;
    margin-top: 30px;
    overflow: hidden;
  }
}

h3.profile-title {
  margin-bottom: 5px;
  color: white;
  font-size: 18px;
  font-family: 'robotobold';
}

.main-navigation {
  margin: 30px 0;
}

.main-navigation li {
  display: block;
}

.main-navigation li a {
  cursor: pointer;
  padding: 15px 40px;
  display: block;
  color: white;
  font-size: 14px;
}

.main-navigation li a i {
  margin-right: 15px;
  font-size: 24px;
}

.main-navigation li a:hover {
  background: #5b6878;
}

.main-navigation li a.active {
  background: #495461;
}

.main-navigation li a.active:hover {
  background: #495461;
}

@media screen and (max-width: 992px) {
  .responsive-header .main-navigation {
    margin-top: 10px;
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .main-navigation a {
    padding: 10px;
  }
  .main-navigation a.active {
    background: #5f6d7e !important;
  }
  .main-navigation a:hover {
    background: #5f6d7e !important;
  }
}

.sidebar-menu {
  float: left;
  width: 23%;
  height: 100%;
  position: fixed;
  background-color: #5f6d7e;
  color: white;
  overflow-y: hidden;
}

@media screen and (max-width: 1290px) {
  .sidebar-menu {
    overflow-y: scroll;
    width: 30%;
  }
}

.navigation {
  padding-left: 0;
}

.main-content {
  float: right;
  width: 77%;

}

@media screen and (max-width: 1290px) {
  .main-content,
  .banner-bg {
    width: 70%;
  }
}

@media screen and (max-width: 992px) {
  .main-content,
  .banner-bg {
    width: 100%;
  }
}

.banner-bg {
  padding: 260px 80px;
  position: absolute;
  right: 0;
  // background: url("../../../public/images/techback.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 2;

  height: 100% !important;
}

.banner-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(95, 109, 126, 0.4);
  top: 0;
  left: 0;
  z-index: 3;
}

.welcome-text {
  position: relative;
  z-index: 4;
}

.welcome-text h2 {
  font-size: 42px;
  font-family: 'robotobold';
  color: white;
  margin-bottom: 30px;
}

.welcome-text h5 {
  font-size: 22px;
  color: white;
}

ul {
  list-style: none;
}

.visible-xs, .visible-sm, .visible-md, .visible-lg {
  display: none !important;
}

#landing-section {
  background: none;
  margin: 0;
  padding: 0;
  height: 100vh;
  // width: 100vw;
  display: block;
  float: right;
  width: 77%;
}

.landing {
  height: 100%;
  // width: 100%;
  background-size: cover;
  text-align: center;
  overflow: hidden;
  background: none fixed 66%;
  position: relative;
}

.darkness {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.45);
  top: 0;
  left: 0;
}

.logo {
  z-index: 2;
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.15s linear;
}

#events-section {
  margin: 0;
  height: 100vh;
  // width: 100vw;
  display: block;
  float: right;
  width: 77%;
  padding: 75px 0;
  background-color: rgba(240, 240, 240, 0.5);

}

#events-section h4 {
  color: #777;
}

.container {
  text-align: center;
  margin: 0 auto;
}

.headline-section {
  line-height: 1.25;
  letter-spacing: 0.8px;
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
}

.subline-section {
  font-size: 2.2rem;
  letter-spacing: 0.3px;
  color: #777;
}

.events {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.event {
  height: 14vw;
  width: 32%;
  margin: 10px auto;
  z-index: 75;
  /* background-color: blueviolet; */
}

.card {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
  transition: all 0.8s ease;
  border-radius: 2px;
  z-index: 5;
  perspective: 1500px;
  -webkit-perspective: 1500px;
  -moz-perspective: 1500px;
  background-color: none;
}

.card .card-item {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  box-shadow: 8px 6px 10px rgba(0, 0, 0, 0.361);
  pointer-events: none;
  /* Firefox issue - TOOK MY 2hrs >:( */
}

.card .card-front {
  z-index: 5;
  backface-visibility: hidden;
  transition: all 0.8s ease-in-out;
  transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
}

.card:hover .card-front {
  background-color: #eee;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}

.card .card-front img {
  display: block;
  height: 80%;
  width: 100%;
}

.card .card-front .headText {
  display: block;
  height: 20%;
  position: relative;
  background-color: #2980b9;
}

.card .card-front .headText p {
  font-size: 20px;
  letter-spacing: 0.5px;
  word-spacing: 1.5px;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  color: #ffffff;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
}

.card .card-front .headText {
  display: block;
  height: 20%;
  position: relative;
}

.card .card-back {
  backface-visibility: hidden;
  transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  transition: all 0.8s ease-in-out;
}

.card:hover .card-back {
  background-color: #eee;
  transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
}

.card .card-back img {
  display: block;
  height: 80%;
  width: 100%;
  z-index: 0;
}

.card .card-back::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.card .card-back .headText {
  display: block;
  height: 20%;
  position: relative;
  z-index: 25;
  background-color: #F20056;
}

.card .card-back .eventName {
  position: absolute;
  display: block;
  height: 20%;
  width: 100%;
  top: 50%;
  transform: translate(0%, -50%);
  z-index: 33;
}

.card .card-back .headText p,
.card .card-back .eventName p {
  font-size: 20px;
  letter-spacing: 0.5px;
  word-spacing: 1.5px;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  color: #ffffff;
  transform: translate(-50%, -50%);
  text-transform: capitalize;
}

.card .card-back .eventName p {
  font-size: 25px;
  letter-spacing: 0.5px;
  word-spacing: 1.5px;
  text-transform: uppercase;
}

.go-down {
  position: absolute;
  top: 80%;
  left: 50%;
  color: white;
  transform: translate(-50%, 0%);
}


// transition
.typecateg-appear {
  opacity: 0.01;
}

.typecateg-appear.typecateg-appear-active {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

/* Aylen */
.button.button--aylen {
  background: #fff;
  color: #37474f;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.button--aylen.button--inverted {
  background: none;
  color: #fff;
}
.button--aylen::before,
.button--aylen::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 100%;
  left: 0;
  z-index: -1;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.button--aylen::before {
  background: #7986cb;
}
.button--aylen::after {
  background: #3f51b5;
}
.button--aylen:hover {
  color: #fff;
}
.button--aylen:hover::before,
.button--aylen:hover::after {
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}
.button--aylen:hover::after {
  -webkit-transition-delay: 0.175s;
  transition-delay: 0.175s;
}

.button--border-thick {
  border: 2px solid;
}

.button--aylen.button--inverted {
  background: none;
  color: #fff;
}

.button--text-upper {
  letter-spacing: 2px;
  text-transform: uppercase;
}

.button--size-s {
  font-size: 14px;
}
.button--size-m {
  font-size: 16px;
}
.button--size-l {
  font-size: 18px;
}

.mdbcardbody {
  color: white;
  background : linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
}

.bgnone {
  background: none;
}

.img-transparent {
  opacity: 0.7;
}