.Event-Description-section-title p {
  font-size: 30px;
  font-family: ZCOOL KuaiLe, serif;
  margin-bottom: 0px;
  color: mediumvioletred;
}

.Event-Description-section-title h4 {
  font-size: 40px;
  text-transform: capitalize;
  position: relative;
  display: inline-block;
  padding-bottom: 25px;
}

.Event-Description-section-title h4::before {
  width: 80px;
  height: 1.5px;
  bottom: 0;
  left: 50%;
  margin-left: -40px;
}

.Event-Description-section-title h4::before,
.Event-Description-section-title h4::after {
  position: absolute;
  content: "";
  background-color: #ff5e18;
}

.Event-Description-section-title h4::after {
  width: 40px;
  height: 1.5px;
  bottom: -5px;
  left: 50%;
  margin-left: -20px;
}

.Event-Description-single_service.service_right {
  padding-right: 0;
  padding-left: 0;
  text-align: justify-all;
}

.Event-Description-single_service.service_left {
  padding-left: 0;
  padding-right: 0;
  text-align: justify-all;
}

.Event-Description-single_service.service_right img {
  right: 0;
  left: auto;
  margin-top: 0;
}

.Event-Description-single_service:nth-child(1),
.Event-Description-single_service:nth-child(2) {
  border-bottom: 1px dashed #333;
  padding-bottom: 15px;
}

.Event-Description-single_service img {
  max-width: 45px;
  position: absolute;
  left: 0;
  top: 0;
}

.Event-Description-single_service {
  position: relative;
  padding-left: 70px;
  margin-bottom: 35px;
}
.Event-Description-single_mid {
  margin-top: 50%;
}
.Event-Description-register-block {
  height: 300px;
  
}
.Event-Description-hidden {
	display: none;
}