.Events-main {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  margin: 0;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
  cursor: pointer;
}

img {
  border: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  font-size: 14px;
}


.Events-main {
  --color-text: #252528;
  --color-bg: #afb6bc;
  --color-link: #252528;
  --color-link-hover: #252528;
  --color-menu-text: #252528;
  --color-bg-move: #afb6bc;
  color: var(--color-text);
  background-color: var(--color-bg);
  font-family: fieldwork-hum, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: hidden;
}

.cursor {
  display: none;
}

a {
  text-decoration: none;
  color: var(--color-link);

}

a:hover,
a:focus {
  color: var(--color-link-hover);
  outline: 0;
}

.Events-content,
.Events-content__move {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  align-items: center;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: center;
  position: relative;
  will-change: transform;
}

.Events-content--first {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}

.Events-content__move {
  background: var(--color-bg-move);
}

.Events-columns {
  grid-area: 1 / 1 / 2 / 2;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 100%;
  grid-gap: 1.5rem;
  padding: 0 8vw;
}

.Events-column {
  position: relative;
  align-self: start;
  will-change: transform;
}

.Events-column--bottom {
  align-self: end;
}

.Events-column__img {
  width: 100%;
  display: block;
  opacity: 0.4;
  background-size: cover;
  background-position: 50% 50%;
  height: 25vw;
}

.Events-column__img:nth-child(odd) {
  height: 30vw;
}

.Events-column__img:not(:last-child) {
  margin-bottom: 1.5rem;
}

.Events-menu {
  grid-area: 1 / 1 / 2 / 2;
  width: 100vw;
  height: 100vh;
  padding: 15vh 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.Events-menu__item {
  display: flex;
  font-weight: 800;
  font-size: 16vw;
  line-height: 1.1;
  cursor: pointer;
  padding-bottom: 1rem;
  -webkit-text-stroke: 2px var(--color-menu-text);
  text-stroke: 2px var(--color-menu-text);
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  color: transparent;
}

.Events-menu__item:hover {
  -webkit-text-fill-color: var(--color-menu-text);
  text-fill-color: var(--color-menu-text);
  color: var(--color-menu-text);
}

.Events-item {
  position: relative;
}

.Events-item {
  grid-area: 1 / 1 / 2 / 2;
  opacity: 0;
  pointer-events: none;
  overflow: hidden;
}

.Events-item--current {
  opacity: 1;
  pointer-events: auto;
}

.Events-item__img {
  height: 300px;
  width: 100%;
  flex: none;
  background-size: cover;
  background-position: 50% 25%;
  opacity: 0.4;
}

.Events-item__content {
  height: calc(100vh - 300px);
  overflow: auto;
}

.Events-item__content-title {
  font-size: 1.8rem;
  white-space: nowrap;
  margin: 0;
  line-height: 1.2;
  pointer-events: none;
}

.Events-item__titlebar-icon {
  font-size: 2rem;
}

.Events-item__titlebar-title {
  font-size: 1.8rem;
  white-space: nowrap;
  margin: 0;
  line-height: 1.2;
  pointer-events: none;
  color: white;
}

.Events-item__titlebar-title span {
  display: inline-block;
  white-space: pre;
  pointer-events: none;
  will-change: transform;
}

.Events-item__titlebar {
  display: flex;
  align-items: flex-start;
  margin: auto 8px;
  padding: 3vh 0;
}

.Events-menu__item span,
.Events-item__content-title span {
  display: inline-block;
  white-space: pre;
  pointer-events: none;
  will-change: transform;
}

.Events-item__content-subtitle {
  font-weight: normal;
  margin: 0;
  font-size: 1.5rem;
}

.Events-item__content-text {
  margin: 10vh 0 4rem 0;
  position: relative;
  line-height: 1.5;
  text-align: left;
}

.Events-item__content-text::after {
  content: '';
  width: 2rem;
  height: 2px;
  position: absolute;
  background: currentColor;
  top: calc(100% + 3rem);
}

.Events-item__titlebar-back {
  cursor: pointer;
  margin: auto 12px;
}

.Events-item__content-back {
  cursor: pointer;
}

.Events-item__content-row {
  margin: 1rem 0;
  padding: 1rem 2rem;
  border: 1px dashed #333;
  text-align: start;
}

@media screen and (min-width: 53em) {
  .Events-menu__item {
    font-size: 13vh;
  }

  .Events-item {
    height: 100%;
    width: 100%;
    display: flex;
  }

  .Events-item__img {
    height: 100%;
    width: 45%;
    background-position: 50% 50%;
  }

  .Events-item__content {
    height: 100%;
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: visible;
  }

  .Events-item__content-container {
    margin: 1.2rem 0 2rem 0;
    height: calc(100vh - 240px);
    overflow: scroll;
    padding: 0;
  }

  .Events-item__content-row {
    margin: 1rem 2rem;
    padding: 1rem 2rem;
    border: 1px dashed #333;
    text-align: start;
  }

  .Events-item__titlebar-icon {
    font-size: 3rem;
  }

  .Events-item__titlebar-title {
    font-size: 3vw;
  }

  .Events-item__content-title {
    font-size: 3vw;
  }

  .Events-item__content-subtitle {
    font-size: 2vw;
  }

  .Events-item__content-text {
    margin-bottom: 0;
  }
}

.Events-item__category {
  padding: 0;
  margin: auto;
  list-style: none;

  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

.Events-item__category-column {
  -webkit-flex-direction: column;
  flex-direction: column;
  height: 85%;
  overflow: scroll;
}

.Events-item__category-title {
  padding: 5px;
  line-height: 50px;
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}

.menu--adsila {
  font-family: 'Play', sans-serif;
  font-size: 1.45em;
  overflow: auto;
}

.menu--adsila a {
  color: white;
}

.menu__item {
  color: white;
  justify-content: center;
}

.menu--adsila .menu__item-name {
  position: relative;
  z-index: 2;
  font-weight: bold;
  line-height: 1.4;
  padding: 0.5em 0;
  transition: color 0.5s;
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  display: inline-block;
  text-align: center;
  font-size: 1.8rem;
  color: white;
}

.menu--adsila .menu__item-name::before {
  content: '';
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  opacity: 0.3;
  transform: scale3d(0, 1, 1);
  transform-origin: 0% 50%;
  transition: transform 0.5s;
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.container-fluid {
  
  overflow: scroll;
}
.menu--adsila .menu__item-label {
  position: relative;
  visibility: hidden;
  font-size: 0.8em;
  letter-spacing: 0.05em;
  transform: translate3d(-0.5em, 0, 0);
  transition: transform 0.5s, color 0.5s;
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.menu--adsila .menu__item-label::before {
  content: '';
  position: absolute;
  z-index: 1;
  top: calc(100% + 0.1em);
  left: 0.05em;
  width: 25%;
  height: 1px;
  opacity: 0.3;
  transform: scale3d(0, 1, 1);
  transform-origin: 100% 50%;
  transition: transform 0.5s;
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.menu--adsila .menu__item:nth-child(odd) .menu__item-name::before,
.menu--adsila .menu__item:nth-child(odd) .menu__item-label::before {
  background: #fe628e;
}

.menu--adsila .menu__item:nth-child(even) .menu__item-name::before,
.menu--adsila .menu__item:nth-child(even) .menu__item-label::before {
  background: #6265fe;
}

/* Hover */

.menu--adsila .menu__item:nth-child(odd):hover,
.menu--adsila .menu__item:nth-child(odd):focus {
  color: #fe628e;
}

.menu--adsila .menu__item:nth-child(even):hover,
.menu--adsila .menu__item:nth-child(even):focus {
  color: #6265fe;
}

.menu--adsila .menu__item:hover .menu__item-name::before,
.menu--adsila .menu__item:focus .menu__item-name::before,
.menu--adsila .menu__item:hover .menu__item-label::before,
.menu--adsila .menu__item:focus .menu__item-label::before {
  transform: scale3d(1, 1, 1);
  visibility: visible;
}

.menu--adsila .menu__item:hover .menu__item-label,
.menu--adsila .menu__item:focus .menu__item-label {
  transform: translate3d(0, 0, 0);
  visibility: visible;
}

.menu--adsila .menu__item:hover .menu__item-label::before,
.menu--adsila .menu__item:focus .menu__item-label::before {
  transform-origin: 0% 50%;
  transition-timing-function: ease;
}

@media screen and (max-width: 50em) {
  .menu--adsila .menu__item {
    margin: 0 0;
  }
  .menu--adsila .menu__item-label {
    display: block;
    margin: 0.5em 0 0 1em;
    visibility: visible;
  }

  .menu__item-name {
    text-decoration: underline;
  }

  nav {
    height: auto;
  }
}

::-webkit-scrollbar {
  width: 12px;
  color: black;
}

@media(max-width: 850px) {
  .Events-item__category-column {
    height: 240px;
  }
}

@media(max-width: 850px) {
  .menu--adsila {
    height: 230px !important;
  }
}