html {
  margin: 0;
}

body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #172228
}

.overlay-2 {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
}

#App {
  width: 100%;
  height: 100%;
  min-height: 635px;
  max-height: 635px;
}

#page-wrap {
  text-align: center;
  overflow: auto;
}
